<div{{ attributes.addClass(classes) }}>
    {% for item in output %}
        <div class="owl-item-inner owl-item-inner">
            {{ item }}
            <div class="owl-caption">
                <div class="owl-caption_inner">
                    {% if item['#item'].owl_title|length %}
                        <h1>{{ item['#item'].owl_title }}</h1>
                    {% endif %}

                    {% if item['#item'].owl_paragraph|length %}
                        <p>{{ item['#item'].owl_paragraph }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
